/*COLORS*/
$clr-primary: #737373;
$clr-secondary: #FA4A0C;
$clr-white: #FFFFFF;
$clr-black: #252B42;



/*FONTS*/

$default-font-size: 1.6rem;


$shadow : drop-shadow(50px 30px 45px rgba(46, 4, 4, 0.15))


